form div{
    margin: 2% 0;
}

div button{
    background-color: #f1acb8;
    color: #fff;
    padding: 0.7%;
    border: 1px solid #000;
    cursor: pointer;
    width: 15%;
    font-weight: 700;
}

main div section input{
    background-color: #f1acb8;
    color: #fff;
    padding: 0.7%;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 700;
    width: 6rem;
    height: 1.8em;
    font-size: 0.9rem;
    text-align: center;
}
